{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<div class="container">
    <br>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <input type="hidden" name="item_id" value="{{ product.id }}">
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                <a class="btn btn-outline-success" href="/product/{{ product.id }}">Ver más</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}