{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form class="form-inline" method="POST" action="">
        {% csrf_token %}
        <br>
        <input class="form-control mr-sm-2" type="search" placeholder="Objeto" aria-label="Search" name="searched" value="{{ item_searched }}">
    </form>
</div>

<div class="container">
    <br>
    {% if flag == 0 %}
        <p>No se han encontrado libros con el nombre "{{ item_searched }}"</p>
        <hr>
        <br>
    {% endif %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Agregar al carrito</button>
                <a class="btn btn-outline-success" href="/product/{{ product.id }}">Ver más</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}